/* Reset de CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* SCROLL BAR COSTOMIZADA - retirar a scrollbar */
#items::-webkit-scrollbar {
    display: none;
}

/* ESTRUTURA DO CARROSSEL - divisão ,rolagem do items, etc*/
body {
    display: grid;
    place-items: center;
    height: 100vh;
}

#items-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#items {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.item{
    flex: none;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    pointer-events: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

